<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoLinker 🔗</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div>
    <h2>Welcome to Golinker</h2>
    <p>Shortening Links Has Never Been This Easy & Flexible</p>

    <div class="form">
        <form>
            <label for="theReal">Enter the URL</label><br>
            <input type="text" id="theReal" name="realLink"><br><br>
            <input type="submit" id="submitButton" value="Shorten it!">
        </form>
    </div>
    <p>Enter Valid URLs only, Invalid URLs Will Return Errors!</p>

</div>
</body>
</html>